name: ci
on:
  pull_request:
  push:
    branches:
    - master

jobs:
  unit-test-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: '1.18'
    - name: run unit tests
      run: go test ./... -race
