# This workflow will build a golang project and generate coverage
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build and Coverage

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build-and-coverage:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.x'

    - name: Cache Go modules
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Clean test directories
      run: |
        sudo rm -rf /tmp/nutsdb* || true
        sudo rm -rf /tmp/test-hintfile* || true

    - name: Build project
      run: go build -v ./...

    - name: Run coverage tests
      run: |
        # Set longer timeout for coverage collection
        timeout 25m go test -race -timeout 20m -coverprofile=_coverage.out -covermode=atomic ./...
        cat _coverage.out | grep -v github.com/nutsdb/nutsdb/examples > coverage.out

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ./coverage.out
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
